:root.dark {

}

:root.lignt {

}

* {
    border: 2px solid red;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 3rem;
    gap: 3rem;
}

.logo {
    margin-right: auto;
}

.theme, .add {
    width: 30px;
    border-radius: 50%;
    border: 0px solid;
    background-color: white;
}

footer {
    display: grid;
    place-items: center;
    padding: 1rem;
}

main {
    flex: 1;
    text-align: center;
    width: clamp(200px, 100%, 1200px); /* temporary */
    margin: auto;
    padding: 1rem;
    display: grid;
    gap: 2rem 1rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: max-content;
}

.card {
    padding: 1rem;
    display: grid;
    gap: 0.5rem;
    text-align: left;
    width: min(100%, 400px);
    position: relative;
}

#cross, #cancel {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 50%;
}

.card.toggle {
    background-color: pink;
}

dialog {
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    position: relative;
}

input:not([type='checkbox']) {
    display: block;
}